body {
    background: #171717;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: 'Gilam', sans-serif;

}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 216px;
    height: 33px;
    margin-top: 46px;
    margin-left: 230px;
}

.header-callback,
.footer-link {
    border: 1px solid #E4B564;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    font-family: 'Circe', sans-serif;
}

.header-callback {

    margin: 37px 230px 0 10px;
    width: 218px;
    height: 50px;
    padding-left: 26px;
    padding-top: 10px;
}

.header-callback:hover {
    background-color: #634F2C;
}

.vector {
    margin-right: 8px;
  
}

h1,
h2,
h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    height: 28px;
    margin-left: 230px;
}

h1 {
    margin-top: 128px;

}

.heading-paragraph {
    font-size: 20px;
    line-height: 28px;
    width: 1182px;
    height: 56px;
    margin: 41px 0 41px 230px;
}

.list-of-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 468px);
    grid-gap: 27px 30px;
    margin: 0 230px 161px 230px;

}

.list-of-works-item-1,
.list-of-works-item-2,
.list-of-works-item-3,
.list-of-works-item-4,
.list-of-works-item-5 {
    text-align: center;
}


.list-of-works-item-1 {

    grid-column: 1 / 3;
    background: #634F2C;
    padding: 220px 148px 220px 149px;
    white-space: nowrap;
}


.list-of-works-item-2 {
    grid-column: 3 / 5;
    background: #B4A385;
    padding: 206px 43px 206px 44px;
}

.list-of-works-item-3 {
    grid-column: 5 / 7;
    background: #E4B564;
    padding: 220px 140px 220px 141px;
}


.list-of-works-item-4 {
    grid-column: 1 / 4;
    background: #635A4A;
    text-align: center;
    padding: 220px 163px 220px 162px;

}

.list-of-works-item-5 {
    grid-column: 4 / 7;
    background: #B08C4D;
    text-align: center;
    padding: 220px 237px 220px 239px;

}

h2 {
    margin-top: 161px;
    margin-bottom: 94px;
}

.construction-machinery {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 34px 101px 122px 277px;
    grid-gap: 26px 30px;
    justify-content: center;

}

.construction-machinery-item-1,
.construction-machinery-item-2,
.construction-machinery-item-3,
.construction-machinery-item-4,
.construction-machinery-item-5,
.construction-machinery-item-6,
.construction-machinery-item-7 {

    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}


.construction-machinery-item-1,
.construction-machinery-item-6 {
    grid-row: span 2;
}

.construction-machinery-item-2,
.construction-machinery-item-4,
.construction-machinery-item-5 {
    grid-row: span 3;
}

.construction-machinery-item-3,
.construction-machinery-item-4,
.construction-machinery-item-7 {
    padding: 44px 0 0 48px;

}

.construction-machinery-item-1 {
    background: #0E0E0E;
    padding: 44px 0 0 52px;
}

.construction-machinery-item-2 {
    background: #242424;
    padding: 44px 0 0 51px;
}

.construction-machinery-item-3 {
    background: #1F1F1F;
    grid-row: span 1;

}

.construction-machinery-item-4 {
    background: #0E0E0E;

}

.construction-machinery-item-5 {
    background-color: #1F1F1F;
    padding: 56px 0 0 52px;
}

.construction-machinery-item-6 {
    background-color: #E4B564;
    padding: 47px 0 0 52px;
}

.construction-machinery-item-7 {
    background-color: #0A0909;
}

h3 {
    margin-top: 172px;
    margin-bottom: 72px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    width: 180px;
    height: 50px;
    margin-top: 161px;
    margin-right: 230px;
    padding-left: 40px;
    padding-top: 10px;
    /* box-sizing: border-box; */
}

.footer-link:hover {
    background-color: #634F2C;
}

.clients-projects {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    justify-content: center;
    margin-bottom: 239px;

}

.clients-projects-item-1,
.clients-projects-item-2,
.clients-projects-item-3,
.clients-projects-item-4,
.clients-projects-item-5,
.clients-projects-item-6 {
    text-align: center;

}

.image-1 {
    margin: 171px 151px;
}

.clients-projects-item-1 {
    background: #634F2C;
}

.image-3 {
    margin: 61px 207px 3px 217px;
}

.clients-projects-item-2 {
    background: rgba(232, 210, 171, 0.76);
}

.footer-paragraph {
    width: 326px;
    height: 140px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-left: 80px;
}

.footer-paragraph:hover {
    background-color: #634F2C;
}


.image-4 {
    margin: 174px 148px 175px 149px;
}


.clients-projects-item-3 {
    background: #E4B564;
}


.clients-projects-item-4 {
    background: #635A4A;
}

.clients-projects-item-5 {
    background: #B08C4D;
}

.image-5 {
    margin: 169px 183px 184px;
}

.clients-projects-item-6 {
    background: #634F2C;
}